.form {
    margin-top: 200px;
    width: 100%;
    background: #E1DFD9;
}

.form::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://s3-alpha-sig.figma.com/img/ba1b/d90f/de57d19d83898ff7aaa941198e2c7028?Expires=1727049600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=URnAsqEIx4WtQGcrYr4nIRfke-MnwEHDUeQOQp8i5lpKH3WbZkptruuTYEJW-TfEIwCNsmb9ng7LnwJXCbeGbOtmMXvxVEgJSCC1dR3DqXGjPWMRnIOU4mzwIt5EkxXXO4aovP-sQGxdCp69rL8zCymRpcYxhu3TEKqLlzFGvTkNJekQDCeGjJ8o6ph1ZnxbJ3jHpgVYJ4w5WHm-riz96hr7M2z6vObQkdPhkUnTd8jLkGD9LLjOWMWADq7WCLclDxnSdE3VkDecc83y2ylFo2WDwMUOqQ1LIPky9NZtqfMv8rrNFLZ5c83Wd4FnfXBWYdl6y5GYx18rlrNzhrU0Jg__");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; /* Налаштування прозорості */
    z-index: 0;
}
.form > * {
    position: relative;
    z-index: 1; /* Щоб вміст був над бекграундом */
}

.h2Letter {
    color: #141414;
    font-family: Inter;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 110%; /* 77px */
    text-transform: uppercase;
}

.userInfo {
    width: 60vw;
}











@media (max-width: 479px) {}
@media (min-width: 480px) and (max-width: 1199px){}
@media (min-width: 1441px){}